.buttonColor {
  background-color: rgba(175, 255, 15, 1);
}
.textGreen {
  color: rgba(97, 206, 1, 1);
}
.greenBg {
  background-color: rgba(198, 255, 83, 1);
}

.shadowBlack {
  --tw-shadow: 4px 4px 0px #1d1d1d;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

.hideInSmallDeviceShowInTablet {
  display: block;
}

@media (max-width: 767px) {
  .hideInSmallDeviceShowInTablet {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hideInSmallDeviceTable {
    display: none;
  }
}
.hideInSmallDeviceTable {
  display: revert;
}

.hideInSmallDeviceShowInLarge {
  display: block;
}

@media (max-width: 1024px) {
  .hideInSmallDeviceShowInLarge {
    display: none;
  }
}

.hideInLargeDeviceShowInTablet {
  display: none;
}

@media (max-width: 1024px) {
  .hideInLargeDeviceShowInTablet {
    display: block;
  }
}

.showInSmallDeviceHideInTablet {
  display: block;
}

@media screen and (min-width: 767px) {
  .showInSmallDeviceHideInTablet {
    display: none;
  }
}
