.textGreen {
  color: rgba(97, 206, 1, 1);
}
.greenBg {
  background-color: rgba(198, 255, 83, 1);
}

.shadowBlack {
  --tw-shadow: 4px 4px 0px #1d1d1d;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

.registerImg {
  background: #292929;
}
